<h2>Editing subscription</h2>

<div id="recurly-billing-info-form"
     data-account-code="<%= current_user.recurly_account_code %>"
     data-success-url="<%= billing_info_index_url %>"
     data-signature="<%= @signature %>"></div>
