<h2>Editing billing info</h2>

<%= billing_info_form({ 'code' => current_user.recurly_account_code }, {
    'firstName' => @billing_info.first_name,
    'lastName' => @billing_info.last_name,
    'address1' => @billing_info.address1,
    'address2' => @billing_info.address2,
    'country' => @billing_info.country,
    'city' => @billing_info.city,
    'zip' => @billing_info.zip,
    'lastFour' => @billing_info.last_four
}) %>
