defaults: &defaults
  adapter: postgresql
  host: localhost
  encoding: unicode
  pool: 5
  username: postgres
  password: postgres

development:
  <<: *defaults
  database: locomotive_development

test:
  <<: *defaults
  database: locomotive_test<%= ENV['TEST_ENV_NUMBER'] %>

staging:
  <<: *defaults
  database: locomotive_development
