<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to 'Locomotive', root_path, :class => 'brand' %>

      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to 'Home', root_path %></li>
        </ul>

        <%= render '/layouts/navbar/user' %>
      </div>
    </div>
  </div>
</div>
