<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to Settings.app_name, root_path, class: 'brand' %>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><%= link_to t('links.home'), root_path %></li>
        </ul>

        <ul class="nav pull-right">
          <%= render '/layouts/navbar/locale' %>
        </ul>

        <ul class="nav pull-right">
          <%= render '/layouts/navbar/user' %>
        </ul>
      </div>
    </div>
  </div>
</div>
